{
    "swagger": "2.0",
    "info": {
        "description": "Verisafe service API",
        "title": "Verisafe API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "Open Crafts Interactive",
            "url": "https://opencrafts.io/about",
            "email": "developers@opencrafts.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2.0"
    },
    "host": "qaverisafe.opencrafts.io",
    "basePath": "/",
    "paths": {
        "/accounts/all": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Note: this route is not wired with pagination middleware, so limit/offset query params are currently ignored — it always returns the first page (10 accounts).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "List all accounts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/repository.Account"
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to fetch accounts",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/bot/create": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Creates a service (bot) account, assigns it the \"bot\" role, and issues a service token for it in one call.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Create a bot account with a service token",
                "parameters": [
                    {
                        "description": "Bot account and service token details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/account.BotAccountRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/account.BotAccountResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request body, or missing required fields",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to create account, assign role, or issue service token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/deletion-request": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "The account is soft-deleted and permanently removed after a 14-day grace period; signing in again before then cancels the deletion.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Request deletion of the authenticated user's own account",
                "responses": {
                    "200": {
                        "description": "Confirmation message",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to mark account for deletion",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/fanout": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Batches through all accounts and republishes a UserCreated event for each, via a worker pool. Intended for backfilling downstream consumers, not routine use.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Republish every account to the event bus",
                "responses": {
                    "200": {
                        "description": "Publish count message",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Failed to read accounts or publish one or more batches",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/me": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns the account belonging to the caller's own JWT/API-key subject.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Get the authenticated user's own account",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/repository.Account"
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch account",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "The request body's id must match the caller's own subject — updating a different account's id is rejected.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Update the authenticated user's own account details",
                "parameters": [
                    {
                        "description": "Account fields to update; id must be the caller's own",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/repository.UpdateAccountDetailsParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/repository.Account"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Not the account owner, or failed to update/fetch account",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/me/phone": {
            "patch": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "The request body's id must match the caller's own subject. Note: this only updates the stored phone number today — it does not yet verify it (see TODO below).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Update the authenticated user's own phone number",
                "parameters": [
                    {
                        "description": "New phone number; id must be the caller's own",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/repository.UpdateAccountPhoneNumberParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/repository.Account"
                        }
                    },
                    "400": {
                        "description": "Invalid request body or phone number too short",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Not the account owner, or failed to update/fetch account",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/recovery": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Restores full access to an account that was previously marked for deletion, provided it's still within the 14-day grace period.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Cancel a pending deletion of the authenticated user's own account",
                "responses": {
                    "200": {
                        "description": "Confirmation message",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to recover account",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/search/email": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Case-sensitivity and match semantics follow the underlying SQL query.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Search accounts by email",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Email search query",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page offset (default 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "accounts, pagination, query, search_type",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Missing query parameter 'q'",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Search failed",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/search/name": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns accounts whose name matches the query, paginated with\nlimit/offset. Matching is on the account's display name; use\nthe username or email search endpoints for those fields.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Search accounts by name",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Name search query",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page offset (default 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "accounts, pagination, query, search_type",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Missing query parameter 'q'",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Search failed",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/accounts/search/username": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns accounts whose username matches the query, paginated\nwith limit/offset. Usernames are unique, so a full-value query\nyields at most one result.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Search accounts by username",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username search query",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page offset (default 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "accounts, pagination, query, search_type",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Missing query parameter 'q'",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Search failed",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/activity/active": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns activity definitions users can currently earn\ncompletions against. Paginated with page/page_size; the\nresponse is a count/next/previous/results envelope.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "activities"
                ],
                "summary": "List active activity definitions",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/pagination.PaginatedResponse"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch activities",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/activity/add": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Note: this route only checks IsAuthenticated today, with no admin-style permission gate (see ADR 0006 for the planned fix).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "activities"
                ],
                "summary": "Create an activity definition",
                "parameters": [
                    {
                        "description": "Activity to create",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/repository.CreateActivityParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/repository.Activity"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to create activity",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/activity/all": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns every activity definition regardless of active state.\nPaginated with page/page_size; the response is a\ncount/next/previous/results envelope.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "activities"
                ],
                "summary": "List all activity definitions",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/pagination.PaginatedResponse"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch activities",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/activity/inactive": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns activity definitions that are currently disabled, so\ncompletions against them are no longer accepted. Paginated with\npage/page_size; the response is a count/next/previous/results\nenvelope.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "activities"
                ],
                "summary": "List inactive activity definitions",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/pagination.PaginatedResponse"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch activities",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/activity/{id}": {
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Note: Activity is a shared catalog resource with no per-user owner — this route only checks IsAuthenticated today, with no admin-style permission gate (see ADR 0006 for the planned fix).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "activities"
                ],
                "summary": "Delete an activity definition",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Activity ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Confirmation message",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to delete activity",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Note: Activity is a shared catalog resource with no per-user owner — this route only checks IsAuthenticated today, with no admin-style permission gate (see ADR 0006 for the planned fix).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "activities"
                ],
                "summary": "Update an activity definition",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Activity ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Fields to update",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/repository.UpdateActivityParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/repository.Activity"
                        }
                    },
                    "400": {
                        "description": "Invalid id or request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to update activity",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/api/v1/admin/service-tokens": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns active service tokens across every account, as metadata only. Unlike the per-account listing this is not scoped to the caller, so it requires an admin permission.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "List all active service tokens (admin)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/servicetoken.ServiceTokenResponse"
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to list service tokens",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/api/v1/admin/service-tokens/cleanup": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Sweeps expired service tokens across all accounts. Despite the name this is a soft delete: rows are retained and stamped with revoked_at, not removed. Housekeeping only, since an expired token already fails authentication before this runs. Returns 204 with no body on success.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "Delete expired service tokens (admin)",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Failed to clean up expired tokens",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/api/v1/service-tokens": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns the caller's service tokens as metadata only. Raw token values are never returned here, only at creation and rotation.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "List the authenticated account's own service tokens",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/servicetoken.ServiceTokenResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to list service tokens",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Mints a service token for machine-to-machine calls, presented as X-Api-Key rather than a Bearer JWT. The raw token value is returned only in this response and is not recoverable afterwards; only its hash is stored.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "Create a service token for the authenticated account",
                "parameters": [
                    {
                        "description": "Service token to create",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/servicetoken.ServiceTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Includes the raw token, only returned on creation",
                        "schema": {
                            "$ref": "#/definitions/servicetoken.ServiceTokenResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to create service token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/api/v1/service-tokens/stats": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns aggregate counts over the caller's own service tokens, such as how many are active, expired, or revoked.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "Get usage statistics for the authenticated account's service tokens",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/servicetoken.ServiceTokenStats"
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch stats",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/api/v1/service-tokens/{id}": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Requires read:service_token:own for the caller's own tokens, or read:service_token:any to read any account's token.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "Get a service token by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Service token ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/servicetoken.ServiceTokenResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "403": {
                        "description": "Not the token owner and not an admin",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "404": {
                        "description": "Service token not found",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch service token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Requires update:service_token:own for the caller's own tokens, or update:service_token:any to update any account's token.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "Update a service token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Service token ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Fields to update",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/servicetoken.ServiceTokenUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/servicetoken.ServiceTokenResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid id or request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "403": {
                        "description": "Not the token owner and not an admin",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "404": {
                        "description": "Service token not found",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to update service token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Requires revoke:service_token:own for the caller's own tokens, or revoke:service_token:any for any account's token.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "Revoke a service token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Service token ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Invalid id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "403": {
                        "description": "Not the token owner and not an admin",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "404": {
                        "description": "Service token not found",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to revoke service token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/api/v1/service-tokens/{id}/rotate": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Issues a new raw token value for the same service token record. Requires rotate:service_token:own for the caller's own tokens, or rotate:service_token:any for any account's token.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "service-tokens"
                ],
                "summary": "Rotate a service token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Service token ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Includes the new raw token",
                        "schema": {
                            "$ref": "#/definitions/servicetoken.ServiceTokenResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "403": {
                        "description": "Not the token owner and not an admin",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "404": {
                        "description": "Service token not found",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to rotate service token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/auth/token/exchange": {
            "post": {
                "description": "Exchanges the one-time opaque code from the deep link (see CallbackHandler) for the access/refresh token pair. The code is single-use with a 60-second TTL and is deleted on first use.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Exchange a mobile auth code for a token pair",
                "parameters": [
                    {
                        "description": "Opaque code from the deep link",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/auth.authCodeExchangeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth.tokenResponse"
                        }
                    },
                    "400": {
                        "description": "Missing or malformed code",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "401": {
                        "description": "Invalid or expired code",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to retrieve auth code",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/auth/token/refresh": {
            "post": {
                "description": "Consumes the given refresh token and issues a fresh access/refresh pair. Reusing an already-rotated, revoked, or expired refresh token revokes its entire token family and returns 401.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Rotate a refresh token",
                "parameters": [
                    {
                        "description": "Refresh token to rotate",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/auth.refreshTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth.tokenResponse"
                        }
                    },
                    "400": {
                        "description": "Missing or malformed refresh_token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "401": {
                        "description": "Refresh token invalid, expired, or reuse detected",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/auth/token/revoke": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Blocklists the presented access token for its remaining lifetime. If a refresh_token is also supplied, revokes its entire token family too; refresh-family revocation failure is logged but non-fatal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Revoke the caller's access token (and optionally a refresh token family)",
                "parameters": [
                    {
                        "description": "Optional refresh token to also revoke its family",
                        "name": "request",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/auth.revokeTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to revoke token",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/auth/{provider}": {
            "get": {
                "description": "Redirects the client to the given OAuth2 provider to begin a login. Omit \"platform\" (or pass anything other than \"web\") for the mobile flow. Pass platform=web with a redirect_uri that's in the server-side allowlist for the web flow.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Start OAuth2 login",
                "parameters": [
                    {
                        "enum": [
                            "google",
                            "spotify",
                            "apple"
                        ],
                        "type": "string",
                        "description": "OAuth2 provider",
                        "name": "provider",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Set to 'web' for the web flow; omitted defaults to mobile",
                        "name": "platform",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Required when platform=web; must be in the configured allowlist",
                        "name": "redirect_uri",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Mobile deep link to redirect to after login, e.g. myapp://auth/callback",
                        "name": "deep_link",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Device name to register on successful login",
                        "name": "device_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Push notification token to register on successful login",
                        "name": "device_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirects to the OAuth2 provider"
                    },
                    "400": {
                        "description": "Missing provider, or missing/disallowed redirect_uri",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to initiate login with the provider",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/auth/{provider}/callback": {
            "get": {
                "description": "Completes an OAuth2 login started by LoginHandler. Not called directly by clients — the provider redirects here (Apple posts via application/x-www-form-urlencoded). On success, redirects to redirect_uri with cookies set (web) or to the deep link with a one-time opaque code (mobile).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "OAuth2 provider callback",
                "parameters": [
                    {
                        "enum": [
                            "google",
                            "spotify",
                            "apple"
                        ],
                        "type": "string",
                        "description": "OAuth2 provider",
                        "name": "provider",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirects to redirect_uri (web) or the deep link (mobile)"
                    },
                    "400": {
                        "description": "Missing provider or malformed/missing state",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "OAuth flow, database, or token issuance failure",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            },
            "post": {
                "description": "Completes an OAuth2 login started by LoginHandler. Not called directly by clients — the provider redirects here (Apple posts via application/x-www-form-urlencoded). On success, redirects to redirect_uri with cookies set (web) or to the deep link with a one-time opaque code (mobile).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "OAuth2 provider callback",
                "parameters": [
                    {
                        "enum": [
                            "google",
                            "spotify",
                            "apple"
                        ],
                        "type": "string",
                        "description": "OAuth2 provider",
                        "name": "provider",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirects to redirect_uri (web) or the deep link (mobile)"
                    },
                    "400": {
                        "description": "Missing provider or malformed/missing state",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "OAuth flow, database, or token issuance failure",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/auth/{provider}/logout": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Clears the goth/gothic OAuth2 session for the given provider. This is not the same as token revocation — call RevokeTokenHandler too if the client also wants to invalidate its JWT/refresh token.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Log out of the OAuth2 provider session",
                "parameters": [
                    {
                        "enum": [
                            "google",
                            "spotify",
                            "apple"
                        ],
                        "type": "string",
                        "description": "OAuth2 provider",
                        "name": "provider",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "307": {
                        "description": "Redirects to /"
                    },
                    "400": {
                        "description": "Missing provider",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to log out from provider",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/devices/mine": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns all devices registered to the currently authenticated user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "devices"
                ],
                "summary": "List authenticated user's devices",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/device.DeviceOutput"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/account": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "The request body's account_id must match the caller's own subject, unless the caller holds manage:institutions:accounts:any.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Link an account to an institution",
                "parameters": [
                    {
                        "description": "account_id must be the caller's own, unless an admin",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/repository.AddAccountInstitutionParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/repository.AddAccountInstitutionRow"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "403": {
                        "description": "account_id does not match the caller and caller is not an admin",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to link account to institution",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "The request body's account_id must match the caller's own subject, unless the caller holds manage:institutions:accounts:any.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Unlink an account from an institution",
                "parameters": [
                    {
                        "description": "account_id must be the caller's own, unless an admin",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/repository.RemoveAccountInstitutionParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Confirmation message",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "403": {
                        "description": "account_id does not match the caller and caller is not an admin",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to unlink account from institution",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/accounts": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns the accounts linked to the institution, paginated with\nlimit/offset. This is the inverse of listing an account's\ninstitutions.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "List accounts linked to a given institution",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Institution ID",
                        "name": "institution_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page offset (default 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/repository.Account"
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid institution_id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch accounts",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/accounts/fanout": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Batches through all account/institution links and republishes a connected event for each, via a worker pool. Intended for backfilling downstream consumers, not routine use. Note: this route only checks IsAuthenticated today, with no admin-style permission gate (see ADR 0006 for the planned fix).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Republish every institution-account connection to the event bus",
                "responses": {
                    "200": {
                        "description": "status: fanout complete",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to acquire a database connection",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/all": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns a paginated list of every registered institution.\nPaginated with limit/offset; the response is a bare array, not\nan envelope.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "List institutions",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page offset (default 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/repository.Institution"
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to fetch institutions",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/delete/{id}": {
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Permanently deletes an institution. Account links to it are\nremoved by the cascade on account_institutions. Publishes an\ninstitution-deleted event. Returns 204 with no body on success.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Delete an institution",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Institution ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Invalid id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "404": {
                        "description": "Institution not found",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to delete institution",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/fanout": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Batches through all institutions and republishes an InstitutionCreated event for each, via a worker pool. Intended for backfilling downstream consumers, not routine use.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Republish every institution to the event bus",
                "responses": {
                    "200": {
                        "description": "Publish count message",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Failed to read institutions or publish one or more batches",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/find/{id}": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns a single institution by its UUID. Responds 404 when no\ninstitution carries that id.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Get an institution by id",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Institution ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/repository.Institution"
                        }
                    },
                    "400": {
                        "description": "Invalid id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "404": {
                        "description": "Institution not found",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/for-account": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Note: any authenticated caller can look up any account's institution memberships by account_id — there is no ownership check on this endpoint today.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "List institutions linked to a given account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page offset (default 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/repository.Institution"
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid account_id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch institutions",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/register": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Creates an institution record. Institutions are the entities\naccounts are linked to; creating one does not link anybody to\nit. Publishes an institution-created event.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Register a new institution",
                "parameters": [
                    {
                        "description": "Institution to create",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/repository.CreateInstitutionParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/repository.Institution"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to create institution",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/search": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns institutions whose name matches the query, paginated\nwith limit/offset.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Search institutions by name",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Name search query",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page offset (default 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/repository.Institution"
                            }
                        }
                    },
                    "400": {
                        "description": "Missing query parameter 'q'",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Search failed",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/institutions/update/{id}": {
            "patch": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Updates an institution in place. Existing account links are\npreserved. Publishes an institution-updated event.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "institutions"
                ],
                "summary": "Update an institution's details",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Institution ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Fields to update",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/repository.UpdateInstitutionParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/repository.Institution"
                        }
                    },
                    "400": {
                        "description": "Invalid id or request body",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to update institution",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/leaderboard/global": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns the global vibepoint ranking across all accounts.\nPaginated with page/page_size; the response is a\ncount/next/previous/results envelope.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "leaderboard"
                ],
                "summary": "Get the global leaderboard",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 10, max 100)",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/pagination.PaginatedResponse"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch leaderboard",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/leaderboard/global/{user}": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Note: any authenticated caller can look up any user's rank by id — there is no ownership check on this endpoint today.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "leaderboard"
                ],
                "summary": "Get a given user's global leaderboard rank",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "user",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/repository.AccountVibepointRank"
                        }
                    },
                    "400": {
                        "description": "Invalid user id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "500": {
                        "description": "Failed to fetch rank",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/oauth/grants": {
            "get": {
                "security": [
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Pre-flight for the broker: which providers an account has connected and what each grant covers. Never includes tokens.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "List an account's third-party connections",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/grants.GrantView"
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or malformed account_id",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "403": {
                        "description": "Caller is not a service token or lacks the permission",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/oauth/scopes": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "What each connected provider covers, plus every capability each provider could offer, so a settings UI can render connect toggles without knowing the provider list. Never includes tokens.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "List the signed-in user's third-party connections",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.ScopesResponse"
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    }
                }
            }
        },
        "/oauth/{provider}/authorize": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Starts incremental authorization for the signed-in user and returns a provider URL to open. The user's session, devices and tokens are untouched — this grants a capability, it does not sign anyone in again. Returns already_granted when the user has already granted everything asked for. A URL is returned rather than a redirect because this endpoint needs the caller's Bearer token, which a browser navigation cannot supply and which mobile clients must hand to a Custom Tab or ASWebAuthenticationSession themselves.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "Begin authorizing additional provider capabilities",
                "parameters": [
                    {
                        "enum": [
                            "google",
                            "spotify"
                        ],
                        "type": "string",
                        "description": "OAuth2 provider",
                        "name": "provider",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Capabilities to request and where to return the user",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/oauth.ScopeAuthorizeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.ScopeAuthorizeResponse"
                        }
                    },
                    "400": {
                        "description": "Unknown capability, provider without incremental support, or a redirect target that is not allowlisted",
                        "schema": {
                            "$ref": "#/definitions/core.APIError"
                        }
                    },
                    "401": {
                        "description": "Missing or invalid claims",
                        "schema": {
[...]
