name: Build, Test, and Push Verisafe Backend (Prod or Dev)

on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.4"
          cache: true

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests
        run: go test -v ./...

  build-and-push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU and Docker Buildx
        uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Set Docker tags
        id: tags
        run: |
          BRANCH=$(echo "${GITHUB_REF##*/}" | tr '[:upper:]' '[:lower:]' | tr '/' '-')
          SHA=$(git rev-parse --short HEAD)

          if [ "$BRANCH" = "main" ]; then
            IMAGE_TAG="prod"
            IMAGE_BASE="${{ secrets.DOCKERHUB_USERNAME }}/verisafe-backend-prod"
          else
            IMAGE_TAG="dev"
            IMAGE_BASE="${{ secrets.DOCKERHUB_USERNAME }}/verisafe-backend-staging"
          fi

          # Output the full image names
          echo "IMAGE_MAIN_TAG=$IMAGE_BASE:$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "IMAGE_SHA_TAG=$IMAGE_BASE:$SHA" >> $GITHUB_OUTPUT
          echo "image_tags=$IMAGE_BASE:$IMAGE_TAG,$IMAGE_BASE:$SHA" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.tags.outputs.image_tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

